@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
	font-family: 'Arial', serif;
	background-color: #ffffff;
	color:rgba(0, 0, 0, 1);
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: rgb(0, 217, 255);
}

.container_header{
	max-width: 1200px;
	margin:auto;
}
.container{
	max-width: 1200px;
}
.inner_container{
	display: flex;
	flex-wrap: wrap;
}
.items-middle{
	align-items: center;
}
.space-between{
	justify-content: space-between;
}

/*header*/
.header{
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}

.header .logo,
.header .nav{
	padding:1px 10px;
}
.header .logo a{
	font-size: 25px;
	color: #000000;
	font-weight: 600;
	text-transform: capitalize;
}

.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 17px;
	text-transform: capitalize;
	color: #000000;
	padding: 10px 0;
	font-weight: 600;
	transition: all 0.5s ease;
}

/* .header .nav ul li a:focus{
	color: #f3a93d;
} */

.header .nav ul li a:hover{
	color: #f3a93d;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #000000;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: #ffffff;
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}
@media(max-width:991px){
   .nav-toggler{
   	display: block;
   }
   .header{
	padding: 12px 0;
}
.profile_content img{
	width: 50%;
	border-radius: 10px;
}

   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .header .nav.open{
   	visibility: visible;
   }
   .header .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
	width: 100%;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   .header .nav ul li{
   	display: block;
   	margin:0;
   }
}
/*------------------------------------- bio section */
.profile_content{
	text-align: center;
}

.research_content h4, .biography h4, .working_pro_content h4{
	font-weight: 600;
	letter-spacing: 0px;
	text-align: right;
	/* border-bottom: 2px solid #f3a93d;
	display: inline-block;
	padding-bottom: 4px; */
}
.profile_content h4, p span{
	font-weight: 700;
	letter-spacing: 1px;
}
.profile_content h6{
	font-weight: 400;
}
.profile_content img{
	width: 80%;
	border-radius: 5px;
}
.social_icons i {
    padding: 10px;
    background: #fff;
    border-radius: 0px 0px 0px 0px;
	margin-right: 10px;
	color:#f3a93d;
	transition: 0.3s;
	border:1px solid #f3a93d;
}
.social_icons i:hover{
   	background: #f3a93d;
	color: #fff;
	border:1px solid #f3a93d;

}
.biography h4{
	font-weight: 600;
	letter-spacing: 1px;
}
.biography p a{
	text-decoration: underline;
	color: #f3a93d;
}

.biography a:hover {
	text-decoration: underline;
	color: #f3a93d;
}

.research_content h6{
	/*font-weight: 600;*/
	line-height: 25px;
}
.research_content h6 a{
	color: #f3a93d;
	text-decoration: none;
}

.research_content h6 a:hover {
	text-decoration: underline;
	color: #f3a93d;
}

.research_content, .working_pro_content{
	padding:10px 7px;
	margin-top: 20px;
}

ul.list-cstm-pro li {
	list-style: none;
	margin: 0px 0px 10px;
	position: relative;
	font-weight: 600;
  }
  
ul.list-cstm-pro li::before {
content: "";
width: 15px;
height: 15px;
background: #f3a93d;
display: inline-block;
position: relative;
left: 0;
border-radius: 50%;
top: 2px;
margin-right: 12px;
border: 2px solid #000;
	
  }
  ol, ul {
    padding-left: 0rem;
}
ul.list-cstm-pro h6 {
    font-weight: 500;
    color:  rgb(0, 217, 255);
}
ul.list-cstm-pro h6, a {
    color: #f3a93d;
}

/*--------------------------------------------------------------- research css */
/* toggle button */

.btn {
	background-color: #fff;
	border:1px solid #f3a93d;
	border-radius: 0px;
	color: rgb(0, 0, 0);
	box-shadow: none;
	outline: none !important;
	padding: 5px;
	font-size: 13px;
	font-weight: 600;
    letter-spacing: 1px;
  }

  .btn:hover {
	background: #f3a93d;
	color: #fff;
	border:1px solid #f3a93d;

  }

  .btn:focus {
	box-shadow: none !important;
  }

  i.fas.fa-plus,
  i.fas.fa-minus {
	font-size: 10px;
	padding: 1px;
	background: none;
	color: rgb(0, 0, 0);
	border-radius: 0px;
	margin-right: 5px;
  }  

@media(max-width:667px){
	.profile_content img{
		width: 60%;
		border-radius: 10px;
	}
}